################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TzunamiCover.aux
/Tzunami Premigration Analyzer User Guide.aux
/Tzunami Premigration Analyzer User Guide.lof
/Tzunami Premigration Analyzer User Guide.log
/Tzunami Premigration Analyzer User Guide.lot
/Tzunami Premigration Analyzer User Guide.out
/Tzunami Premigration Analyzer User Guide.pdf
/Tzunami Premigration Analyzer User Guide.synctex.gz
/Others/TzunamiCover.aux
/Tzunami Premigration Analyzer User Guide.toc
/.vs/Tzunami-Premigration-Analyzer-User-Guide/FileContentIndex/5ea5f57d-054e-4606-ad8f-943209635817.vsidx
/.vs/Tzunami-Premigration-Analyzer-User-Guide/FileContentIndex/ce0365ed-2d8c-48d2-bce8-5c949c4da6b9.vsidx
/.vs/Tzunami-Premigration-Analyzer-User-Guide/FileContentIndex/read.lock
/.vs/Tzunami-Premigration-Analyzer-User-Guide/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Tzunami-Premigration-Analyzer-User-Guide/FileContentIndex/3b3c3e82-f363-40a6-a7fc-f87ab9215918.vsidx
/.vs/Tzunami-Premigration-Analyzer-User-Guide/FileContentIndex/359c6dee-2df2-46e8-9a5c-ab56ccb3ce8d.vsidx
/.vs/Tzunami-Premigration-Analyzer-User-Guide/FileContentIndex
