################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TzunamiCover.aux
/Tzunami Premigration Analyzer User Guide.aux
/Tzunami Premigration Analyzer User Guide.lof
/Tzunami Premigration Analyzer User Guide.log
/Tzunami Premigration Analyzer User Guide.lot
/Tzunami Premigration Analyzer User Guide.out
/Tzunami Premigration Analyzer User Guide.pdf
/Tzunami Premigration Analyzer User Guide.synctex.gz
/Others/TzunamiCover.aux
/Tzunami Premigration Analyzer User Guide.toc
